extends layout

block content
  h1= title
  p probando chat simple con node js y  #{title}
  .entrada
    label Remitente
    input#from(type="text", name="remitente")
    label Mensaje
    input#message(type="text", name="mensaje")
    button(value='enviar', onclick="envia_mensaje();") Enviar
  .mensajes
    if mensajes
      for mensaje in mensajes
        p from: #{mensaje.from} mensaje: #{mensaje.mensaje}
  div#mensaje_servidor